{% extends "app_base.html" %}
{% block content %}

<div class="span8 offset2">
    <br /><br />
    <img src="{{STATIC_URL}}bootstrap/img/logo.png">

</div>

<div class="span10 offset1">

    <br /><br />

        <blockquote>
            <p class="lead"><i>"Agents of chaos cast burning glances at anything or anyone capable of bearing witness to their condition, their fever of lux et voluptas. I am awake only in what I love & desire to the point of terror--everything else is just shrouded furniture, quotidian anaesthesia, shit-for-brains, sub-reptilian ennui of totalitarian regimes, banal censorship & useless pain."</i> 
            </p>
        </blockquote>

    <br />

    <h1>About HitStarter</h1><br />
    <p class="lead">
        <i>Hit<span style="color: #ff0000">Starter</span></i> is a hidden space for anonymous crowdfunding. Some projects are just a bit too ambitious for the normal internet, so we're building a place where people can raise funds for creative ideas which need a bit more discretion.
    </p>
</div>

<div class="span10 offset1">
    <h2>Mission</h2>

    <p class="lead">

        HitStarter aims to provide a secure and anonymous space for individuals and organizations to raise money from a broad base of contributors in order to fund projects where organizers or contributors require anonymity. 

        <br /><br />

        Some examples of groups who might be interested:

        <ul class="lead offset1 span8">
            <li class="lead"><b>Pranksters</b> in the style of Noël Godin, the Yes Men or Hakim Bey who want to scale up their operations of Poetic Terrorism.</li>
            <li class="lead"><b>Media Artists</b> who want to raise funds for projects which violate copyright laws and treaties.</li>
            <li class="lead"><b>Activist groups</b> which wish to raise money for materials/propaganda/demonstrations/actions without exposing their contributors.</li>
            <li class="lead"><b>Whistleblowers</b> who wish to raise money to fund their escape plans and/or legal defenses.</li>
            <li class="lead"><b>Scientists</b> who wish to raise money for unorthadox experiments without the fear of being expelled from academia.</li>
            <li class="lead"><b>Women</b> in Islamic countries who wish to raise funds for organizing support groups or planned actions.</li>
            <li class="lead"><b>Homosexuals</b> and other sexual outcasts who wish to raise money for the production of educational or sexual materials in places where such activities are illegal.</li>
            <li class="lead"><b>Freedom fighters</b> who wish to raise money from international sources for their armed insurrections against oppressive regimes.</li>
            <li class="lead"><b>..and many more!</b></li>
        </ul>

    </p>

    <h2>Governance</h2>

    <p class="lead">
        HitStarter will not be a <i>completely</i> open platform - it will not be used to raise money to fund the production of child pornography, organized violence against undeserving populations, or any other blatantly repulsive purpose. Other than that, we will operate the service in the most open way possible. However, there are many issues which are not clear cut and may require deliberation and debate in order to reconcile our freedom-promoting mission with our desire to respect and nurture basic human rights.

        <br /><br />

        In order to maintain the development and operations of the service, as well as to make the executive decisions on which content should be allowed and which shouldn't, an autonomous executive committee will be formed. Those who have the technical, social or moral credentials necessary to be on such a committee should <i>please get in touch</i>.

    </p>

    <h2 >Open</h2>

    <p class="lead">
        HitStarter is an <a href="https://github.com/Miserlou/HitStarter">open source project.</a> Contributions welcome!
    </p>

    <h2>FAQ</h2>

    <p class="lead">
        These are some questions we've been asked about this so far. If you have any other questions, send them in!
    </p>

    <h3>What's the business model... how do you plan to make money off the site?</h3>

    <p class="lead">This will not be a for-profit service - ideally, the service will be self-sustaining and autonomous. This initial fundraising will pay is the proof of concept to show if people are willing to anonymously fund collective actions or not. If they aren't, then the service wouldn't have taken off anyway. If they are, there will be enough funding to pay for ongoing development and operations for the foreseeable future. It's possible we could collect a tax on projects in the future or provide identity verification/secure escrow as a service for a fee, etc etc, but that's not in the immediate playbook. For now, this is what you might call an exercise in.. kinetic philosophy.


    <h3>What will your regulations be regarding what projects can and can't be funded (I'm assuming funding development of bioweapons is off the table, but what else).</h3>

    <p class="lead">This is going to be sort of the fun part of the project. In order to maintain the development and operations of the service, as well as to make the executive decisions on which content should be allowed and which shouldn't, an autonomous executive committee will be formed. Those who have the technical, social or moral credentials necessary to be on such a committee should please get in touch.

    <p class="lead">We'll need a distributed system of trust and a place for anonymous but trusted voting (an anonymous version of LiquidDemocracy has been proposed) and a multi-party key authentication system for performing moderator actions. This may end up being a blindly planned cellular organization - or it may look completely different altogether. Not worth doing until we have verified the PoC, but it's a fun challenge for cryptogeeks like me.


<h3> How can you validate that the causes people want to raise money for are genuine?  How can you protect against scamming?</h3>

    <p class="lead">Defining terms of escrow will be one of the tasks of the board of governors. It's not intractable though.


<h3> Do you plan to reimburse the initial donors once the project gets rolling?</h3>

    <p class="lead">Not currently, this is for donations. If the target goal is not met, donations will be returned to nymous funders and anonymous funds will be passed along to the Tor Project or the EFF.


<h3> Wouldn't it be better to wait until bitcoin prices stabilize a bit?  I ask this because it would be easy for me to start a project today requesting 5 coins, knowing that in a couple weeks the coins will probably be worth 2x as much and after meeting my quota I could just sit on them and make a profit.</h3>

    <p class="lead">This is a problem which we can't really solve - it's just the nature of BTC markets. It's more volatile now than it has ever been, but unfortunately shows no sign of stabilization. The question is really how should targets be set - a BTC value, a BTC value with a USD spread, or just a pure USD conversion? Again, a decision left to be made for the governors. It's worth stressing that BTC isn't really the interesting part of the project, it's the anonymity of donors and recipients, BTC is just the most practical way of accomplishing this at the moment.


<h3> I also had a question on a more personal note, since you seem to be a power to the people kind of guy - philosophically why did you decide to go the activist route, and are there any causes you especially believe in or things you think people should be aware of?</h3> 

    <p class="lead">My personal politics aside, I think it's critically important for technologists to consider the social implications of their actions. To put this up blindly could have rather disastrous consequences - crowd funding of child pornography, terrorism, hate groups, etc, etc - it's important to make the _first_ iteration of technologies to address these issues right off the bat such that any subsequent iterations of these technologies appear fundamentally broken.

    <p class="lead">A cause I personally believe in is hitting warmongers in the face with pies. That's the primary thing I want to see funded through this. Beyond that, you can imagine all sorts of things - WikiLeaks skunkworks projects, DefCad projects, women's lib, Anonymous operations, allowing ordinary Americans to donate directly to Syrian rebel groups and other freedom movements, gay porno production in places where it is criminal, drug research, and general pranksmanship, art crime and poetic terrorism, etc etc.. It's an engine for chaos, and I'm a firm believer in positive chaos.

</div>


<div class="span8 offset2">
    <br /><br />
    <p>
        Psst.. want to get involved? This project isn't going to get very far off the ground unless we get a bit more support. <a href="https://github.com/Miserlou/HitStarter">Find us on GitHub</a> and get in touch if you'd like to be involved with this project!
    </p>
</div>

{% if not is_onion %}
<div class="span8 offset2">
    <small>To use HitStarter anonymously, head to <a href="http://htstrtc3uttwk4li.onion/">htstrtc3uttwk4li.onion</a>.</small>
    <br /><br /><br />
</div>
{% endif %}

{% endblock %}
