{% extends "app_base.html" %}
{% block content %}

<div class="span8 offset2">
    <br /><br />
    <img src="{{STATIC_URL}}bootstrap/img/logo.png">
</div>

<div class="span10 offset1">
    <br /><br /><br />
    <h1>About HitStarter</h1><br />
    <p class="lead">
        <i>Hit<span style="color: #ff0000">Starter</span></i> is a hidden space for anonymous crowdfunding. Some projects are just a bit too ambitious for the normal internet, so we're building a place where people can raise funds for creative ideas which need a bit more discretion.
    </p>
</div>

<div class="span10 offset1">
    <h2>Mission</h2>

    <p class="lead">

        HitStarter aims to provide a secure and anonymous space for individuals and organizations to raise money from a broad base of contributors in order to fund projects where organizers or contributors require anonymity.

        <br />

        Some examples may include:

        <ul class="lead offset1 span8">
            <li class="lead"><b>Activist groups</b> which wish to raise money for materials/propaganda/demonstrations without exposing their contributors.</li>
            <li class="lead"><b>Whistleblowers</b> who wish to raise money to fund their escape plans and/or legal defenses.</li>
            <li class="lead"><b>Scientists</b> who wish to raise money for unorthadox experiments without the fear of being expelled from academia.</li>
            <li class="lead"><b>Women</b> in Islamic countries who wish to raise funds for organizing support groups or planned actions.</li>
            <li class="lead"><b>Homosexuals</b> who wish to raise money for the production for educational or sexual materials in places where such activities are illegal.</li>
            <li class="lead"><b>Freedom fighters</b> who wish to raise money from international sources for their armed insurrections against oppressive regimes.</li>
            <li class="lead"><b>..and many more!</b></li>
        </ul>

    </p>

    <h2>Governance</h2>

    <p class="lead">
        HitStarter will not be a <i>completely</i> open platform - it will not be used to raise money to fund the production of child pornography, organized violence against undeserving populations, or any other blantanly repulsive purpose. However, there are many issues which are not as clear cut, and may require deliberation and debate in order to reconcile our freedom-promoting mission with our desire to respect and nurture basic human rights.

        <br /><br />

        In order to maintain the development and operations of the service, as well as to make the executive decisions on which content should be allowed and which shouldn't, an autonymous executive committee will be formed. Those who have the technical, social or moral credentials necessary to be on such a committee should <i>please get in touch</i>.

    </p>

    <h2 >Open</h2>

    <p class="lead">
        HitStarter is an <a href="https://github.com/Miserlou/HitStarter">open source project.</a> Contributions welcome!
    </p>

</div>


<div class="span8 offset2">
    <br /><br />
    <p>
        Psst.. want to get involved? This project isn't going to get very far off the ground unless we get a bit more support. <a href="https://github.com/Miserlou/HitStarter">Find us on GitHub</a> and get in touch if you'd like to be involved with this project!
    </p>
</div>

{% if not is_onion %}
<div class="span8 offset2">
    <small>To use HitStarter anonymously, head to <a href="http://htstrtc3uttwk4li.onion/">htstrtc3uttwk4li.onion</a>.</small>
{% endif %}

{% endblock %}
