{% extends "app_base.html" %}
{% block content %}

<div class="span8 offset2">

<h1>{{project.title}}</h1>

<br />

<img src="{{MEDIA_URL}}{{project.thumbnail}}" class="img-polaroid" style="max-height:300px">

<br /><br />
<p class="lead">
{{project.description}}
</p>
<br />


<div class="progress progress-success progress-striped">
    <div class="bar" style="width: {{percent}}%"></div>
</div>
<h3>Raised ฿<i>{{raised}}</i> of ฿<i>{{project.target}}</i></h3>
<br />

<p>

<pre>
    {{project.wallet}}
</pre>

</p>

<br />

<p>

<a href="https://coinbase.com/checkouts/0215a35080d1c331b12eb76ddd018380" class="btn btn-large btn-primary pull-right">Fund this Project! →</a>

</p>

</div>

{% endblock %}
